{% extends "base.html" %}
{% load static %}

{% block title %}Connexion{% endblock %}

{% block css %} 
    <link href="{% static 'css/non_form_errors.css'%}" rel="stylesheet">
    <link href="{% static 'css/form_errors.css'%}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container mt-5">
    {% include 'components/messages.html' %}
    {% if form.non_field_errors %}
        <div class="" role="alert">
            {{ form.non_field_errors }}
        </div>
    {% endif %}
</div>
{% endblock %}

{% block scripts %}
    <script type="module" src="{% static 'js/user/login.js' %}"></script>
{% endblock %}
